body {
    background: #222 !important;
}

.clock {
    position: relative;
    text-align: center;
    padding-left: 50px;
    color: gold;
    font-size: 60px;
    font-family: inherit;
    letter-spacing: 7px;
}

@media screen and (max-width: 450px){
    .clock {
        padding-left: 0;
    }
}

.spacetime {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.customcontainer {
    margin-left: 0 !important;
}

a.nav-link {
    cursor: pointer;
}