body {
    background: #222 !important;
}

.clock {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: gold;
    font-size: 60px;
    font-family: inherit;
    letter-spacing: 7px;
}

@media screen and (max-width: 1000px) {
    .clock {
        top: 90%;
    }
}

.spacetime {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.customcontainer {
    margin-left: 0 !important;
}